#recorder-container {
    top: 0;
    right: 10px;
    position: fixed;
    z-index: 99999;
    height: 4em;
    width: 14em;
    margin: 4px;
    padding: 4px;
    border-radius: 3px;
    border:0;
    background-color: #f73636;
    color: white;
    padding: 5px; 
}

#recorder-container h5 {
    color : whitesmoke;
    font-family : "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size : 14px;
    font-weight : 400;
    text-align : center;
    margin : auto;
}

#recorder-container button {
    border: none;
    border-radius: 5px;
    padding: 3px 6px;
    background-color: white;
    color: #f73636;
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#recorder-container button:hover {
    cursor: pointer;
}

#recorder-questionnaire {
    position: fixed;
    z-index: 99999;
    top: 25%;
    left: 25%;
    box-shadow: 0 0 10px #888888;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    width: 800px;
}

#recorder-questionnaire .recorder-title {
    font-size: 20px;
}

#recorder-questionnaire .recorder-radio {
    margin: 0 40px;
}

#recorder-questionnaire .recorder-question {
    font-size: 18px;
}

#recorder-questionnaire .recorder-label {
    display: inline-block;
    max-width: 100px;
}
